.container{
	box-shadow:0 0 1px 2px #dad8d8;;
	background-color:#eeeaea;
	margin:420px;
	width:330px;
	height:190px;
	border-radius:10px;
}
img{
	 background-color: rgb(240,240,240);
    width: 35px;
    height: 35px;
    padding: 0.7em;
    position: relative;
    left: 40%;
    top: -1.8em;
    box-shadow: 0px 0px 5px rgb(161 155 155);
    border-radius: 50%;
}
h1{
	font-family: 'Oswald', sans-serif;
	text-align:center;
	color:grey;
	height:10px;
	font-size:33px;
	font-weight:400;
	margin-top:-15px;
}
p{
	font-family: 'Wire One', sans-serif;
	text-align:center;
	color:#d9d4d4;
	font-size:36px;
}